/.vs
.gitattributes
/.vs/ProjectEvaluation
*.bin
/Application/bin/Release/net8.0
/Application/bin/Release
/Application/bin
/Domain/obj/Debug/net8.0
/Domain/obj/Debug
/Domain/obj
/Web/bin/Debug
/Web/bin/Debug/net8.0
.vs/YoKart/v17/.suo
/.vs/YoKart/v17
*.cache
/Application/obj/Debug/net8.0
