@using Domain.Global
@{
    ViewData["Title"] = "Category";
    var pageCount = YokartVar.pageCount;
    var currentPage = YokartVar.currentPage;
}
<div class="conatiner">
    <form method="post">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                </tr>
            </thead>
            <tbody id="partial-container">
                await @Html.PartialAsync("_Index")
            </tbody>
        </table>

    </form>
    <div class="pager" id="pager-container">
        @for (var i = 1; i <= pageCount; i++)
        {
            <a href="#" data-page="@i" class="pager-link @(i == currentPage ? "activePage" : "") border">@i</a>
        }
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
</div>